.application-form-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap:10px;
  height:500px;
}

.frm-r1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.frm-grp1 {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #f9a825;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #f57c00;
}
